<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.mybatis.question.entity.Doctor">
    <select id="getDoctor" parameterType="com.medicine.mybatis.question.entity.Doctor" resultType="com.medicine.mybatis.question.entity.Doctor">
       <![CDATA[
        select doctor_id,helpnum from doctor where doctor_name=#{doctor_name}
        ]]>
    </select>
    <insert id="setDoctor" parameterType="com.medicine.mybatis.question.entity.Doctor">
        insert into doctor (helpnum,adoptrate,satisfatdegree) values (12345,90,40)
    </insert>
</mapper>
